th {
  background-color: #ddd;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  white-space: nowrap;
}
tr.odd {
  background-color: #eee;
}
.number {
  text-align: right;
}
.pubmed_link {
  font-size: 77%;
}
